<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Express Application With Heroku</title>
</head>
<body>
  <div class="row grow w-100">
    <%- partial('./parts/header') %>
    <%- partial('./parts/navigator') %>
    <div class="main col-10 h-100 py-5">
        <h4><%= title %></h4>
        <p class="mb-5">Hello I'm a Web Developer from Japan. Have 4 years work experience in IT Industry.</p> 
    </div>
  </div>
  <%- partial('./parts/footer') %>
</body>
</html>