<footer class="footer">
  <div class="col-12 py-3 bg-light">
    <div>@linnefromice</div>
    <div>Express Application With Heroku</div>
    <div>Hello I'm a Web Developer from Japan. Have 4 years work experience in IT Industry.</div>
  </div>
</footer>